body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.search-container {
  flex-grow: 1;
  margin: 0 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #c9302c;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #5bc0de;
  transition: background-color 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-links a:hover {
  background-color: #46b8da;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

section {
  width: calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

section:hover {
  transform: translateY(-5px);
}

h2 {
  color: #333;
}

.results {
  margin-top: 10px;
}

.results a {
  display: block;
  margin-bottom: 5px;
  color: #337ab7;
  text-decoration: none;
  transition: color 0.3s;
  border: 1px solid #337ab7;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.results a:hover {
  color: #23527c;
  background-color: #ecf0f1;
}
